
@font-face {
    font-family: "Gotham Book";
    src: url("../fonts/ufonts.com_gotham-book-webfont.ttf") format("truetype");
}
  
@font-face {
    font-family: "Gotham Thin";
    src: url("../fonts/ufonts.com_gotham-thin-webfont.ttf") format("truetype");
}

body
	{
		/* background-color:		#f7f7f7; */
		/* background-position:	top left, top left;
		background-repeat:		repeat-x, repeat;
		background-size:		100% 30em, auto; */
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

body,input,select,textarea {
    font-family: Gotham Book;
    font-size: 11pt;
    color: #696969;
    font-weight: 300;
}

a {
    color: #0090c5;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.box
{
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.015);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
}

input[type="button"],
input[type="submit"],
input[type="reset"],
.button
{
    padding: 0.3rem 0.8rem;
    -webkit-appearance: none;
    /* position: relative;
    display: inline-block; */
    background: #ffffff;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 800;
    outline: 0;
    border: 0;
    cursor: pointer;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover
{
    background: #e2e2e2;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
.button:active
{
    background: #e2e2e2;
}

.channel-logo {
    height: 25px;
    width: auto;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
  }

  .header nav{
    display: flex;
    flex: 1 auto;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap-reverse;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .header nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }

  .umee-logo{
    height: 30px;
  }

.table.col-details .text-center {
    text-align: left !important;
}

.table.col-details>:not(caption)>*>*{
    padding: 0;
}

.table.col-details tr td{
    padding:3px 0px;
}

.table.col-details tr.hide-in-details{
    display: none;
}

.dataTables_wrapper, .dataTables_paginate .page-link{
  font-size:12px;
}

#edit-modal .form-check-input{
  margin-top: 11px;;
}

#notification-container {
  z-index: 1056;
  top: 90px;
  right: 20px;
}

.actions-col a {
  color: #404040;
}

#edit-form label{
  font-size: 14px;
  padding-top: calc(0.32rem + var(--bs-border-width));
  padding-bottom: calc(0.32rem + var(--bs-border-width));
}

#edit-form input{
  font-size: 14px;
  padding: 0.32rem 0.75rem
}

.page-link, .page-link:hover{
  color: #000
}

.active>.page-link, .page-link.active{
  color: #fff !important;
}