
@font-face {
    font-family: "Gotham Book";
    src: url("../fonts/ufonts.com_gotham-book-webfont.ttf") format("truetype");
}
  
@font-face {
    font-family: "Gotham Thin";
    src: url("../fonts/ufonts.com_gotham-thin-webfont.ttf") format("truetype");
}

body
	{
		/* background-color:		#f7f7f7; */
		/* background-position:	top left, top left;
		background-repeat:		repeat-x, repeat;
		background-size:		100% 30em, auto; */
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

body,input,select,textarea {
    font-family: Gotham Book;
    font-size: 11pt;
    color: #696969;
    font-weight: 300;
}

a {
    color: #0090c5;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.box
{
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.015);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
}

input[type="button"],
input[type="submit"],
input[type="reset"],
.button
{
    padding: 0.3rem 0.8rem;
    -webkit-appearance: none;
    /* position: relative;
    display: inline-block; */
    background: #ffffff;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 800;
    outline: 0;
    border: 0;
    cursor: pointer;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover
{
    background: #e2e2e2;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
.button:active
{
    background: #e2e2e2;
}

.channel-logo {
    height: 25px;
    width: auto;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
  }

  .header nav{
    display: flex;
    flex: 1 auto;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap-reverse;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .header nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }

  .umee-logo{
    height: 30px;
  }

.table.col-details .text-center {
    text-align: left !important;
}

.table.col-details>:not(caption)>*>*{
    padding: 0;
}

.table.col-details tr td{
    padding:3px 0px;
}

.table.col-details tr.hide-in-details{
    display: none;
}

.dataTables_wrapper, .dataTables_paginate .page-link{
  font-size:12px;
}

#edit-modal .form-check-input{
  margin-top: 11px;;
}

#notification-container {
  z-index: 1056;
  top: 75px;
  right: 20px;
}

.actions-col a {
  color: #404040;
}

#edit-form label{
  font-size: 14px;
  padding-top: calc(0.32rem + var(--bs-border-width));
  padding-bottom: calc(0.32rem + var(--bs-border-width));
  text-align: right;
}

#main-area .form-control, #edit-form .form-select{
  font-size: 14px;
  padding: 0.32rem 0.75rem
}

.page-link, .page-link:hover{
  color: #000
}

.active>.page-link, .page-link.active{
  color: #fff !important;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 0px 37px;
  min-height: 50.5px;
}

.topnav .right-buttons{
  display: flex;
  align-items: center;
  color: #fff
}
.topnav .right-buttons>div{
  margin-left: 10px;
}

#main-menu{
  margin-left:5px;
  flex: 1 auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Add an active class to highlight the current page */
.active {
  /* background-color: #04AA6D; */
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

div.dataTables_wrapper div.dataTables_info{
  padding-top: 1px;
  padding-left:10px;
}

.btn-dark{
  background-color: #333;
}

#table-search{
  max-width: 300px;
}

table.dataTable{
  margin-top: 0!important;
}

.footer-entries{
  position: absolute;
  right: 45%
}

.has-icon{
  position: relative;
}

.has-icon .form-control{
  padding-right: 30px !important;
}

.has-icon .input-icon{
  position: absolute;
  right: 20px;
  top: 6px;
}

.table-search-container .input-icon{
  right: 10px;
}

footer {
  border-top: 1px solid #dee2e6;
  font-size: 0.8em;
}

.table-action-image{
   height: 25px;
   margin-bottom: 2px;
}

.text-small{
  font-size: 12px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
